a {
  color: red;
}

a:hover
{
  color: grey;
}

#main_container
{
  padding-top: 10px;
  margin-top:  10px;
}

.navbar-logo-img
{
  padding-top: 10px;
  max-width:   100px;
}

.scrollable-menu 
{
    height: auto;
    max-height: 120px;
    overflow-x: hidden;
}

.sigpreview
{
  max-width: 400px; 
  max-height:69px;
}

.search-bar 
{
  max-width: 300px;
}

.command-button
{
  width: 200px;
}

.asm-mnemonic
{
   background-color: lightblue;
   opacity: 0.8;
   font-family:"Lucida Console", Monaco, monospace;
}

.asm-opcode
{
   background-color: lightgrey;
}